head{
  position: static;
}

body{
  padding: absolute;
}

p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

h1{
  font-family: 'Times New Roman', Times, serif;
}


#form{color:blue;
  height: 135px;
  background-color: rgb(219, 173, 221);
  margin:10px;
  padding: 10px;
  border: solid 5px black;}



.painel{
  display:block;
  margin-right: auto;
  margin-left: auto;
}

.painela{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#controle{color: pink; background-color: blue; text-align: center;}
[lang]{color:pink}
p:last-of-type{color: black;}
p::first-letter{font-size: xx-large;}

.fot{
  text-align: center;
  background-color: blue;
  color: white;
}

.top{
  text-align: center;
  background-color: blue;
  color: white;
}

